.grid-item {
  position: relative;
  font-family: Raleway, sans-serif;
  color: white;
  flex-grow: 1;
  flex-basis: 30%;
  max-width: 400px;
  height: 200px;
  margin: 5px;
}

.recipe-title {
  position: absolute;
  color: white;
  padding: 1%;
  bottom: 0;
}