.category {
  height: 8vh;
  width: 85%;
  padding: 5% 5% 5% 10%;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-bottom: 2px solid grey;
  border-radius: 8px 8px 4px 4px;
}

.category-clicked {
  height: 8vh;
  width: 85%;
  padding: 5% 5% 5% 10%;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-bottom: 2px solid #70a6e0;
  border-radius: 8px 8px 0 0;
}

.category-inner-wrapper {
  width: 100%;
}

.category:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.category-clicked:hover {
  cursor: pointer;
}

.category-textField {
  display: table-cell;
  width: 70%;
  height: 100%;
  vertical-align: middle;
  font-size: 18px;
}

.category-textField-wrapper {
  display: table;
  position: relative;
  float: left;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.category-iconField-wrapper {
  display: inline-block;
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
}

.category-iconField {
  height: 100%;
  width: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.category-ingredientsSelector-wrapper {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.category-ingredients-wrapper {
  padding: 10px;
  height: 100%;
}

.category-ingredient-container {
  display: inline-block;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  background-color: #dfebf5;
  border-radius: 3px;
}

.category-ingredient-container:hover {
  cursor: pointer;
  background-color: #8dbde3;
  color: white;
}
